<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>
        {% block title %} 
        Homepage 
        {% endblock %}
    </title>
</head>


{% block body %}
<body class="centralizar">
    <h1>HOMEPAGE SITE</h1>
    <h3>Agora vamos continuar o site</h3>

    {% block formulario %}

    <p>Olá, {{ usuario }}!</p>
    <form method="POST">
        {{ formlogin.csrf_token }}
        <p>{{ formlogin.email.label }} {{ formlogin.email }}</p>
        <p>{{ formlogin.senha.label }} {{ formlogin.senha }}</p>
        <p>{{ formlogin.botao_confirmacao }}</p>        
    </form>

    {% endblock %}
    
</body>
</html>

{% endblock %}